<!--顧客：注文確認画面-->
<h2>>ショッピングカート</h2>
  <div class="container px-5 px-sm-0">
    <div class="row border">
      <table> 
        <thead>
          <th>単価(税込)</th>
          <th>小計</th>
        </thead>
        
        <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.with_tax_price%></td>
            <td><%= cart_item.subtotal%></td>
            <% @total_price +=  cart_item.subtotal %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  